/vendor
/wp-tests/*
!/wp-tests/tests/
!/wp-tests/tests/wordpress-tests-lib/
!/wp-tests/tests/wordpress-tests-lib/**
/wp-tests/tests/wordpress-tests-lib/**
!/wp-tests/tests/wordpress-tests-lib/wp-tests-config.php
/.phpunit.result.cache
/composer.lock
